* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  background-color: white;
  color: white;
}

.input-screen {
    background-color: black;
    grid-area: screeni;
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
    height: 100%;
}

.C-button {
    grid-area: C;
}

.arrow-button {
    grid-area: arrow;
}

.div-button {
    grid-area: div;
}

.seven-button {
    grid-area: seven;
}

.eight-button {
    grid-area: eight;
}

.nine-button {
    grid-area: nine;
}

.x-button {
    grid-area: xi;
}

.four-button {
    grid-area: four;
}

.five-button {
    grid-area: five;
}

.six-button {
    grid-area: six;
}

.minus-button {
    grid-area: minus;
}

.one-button {
    grid-area: one;
}

.two-button {
    grid-area: two;
}

.three-button {
    grid-area: three;
}

.plus-button {
    grid-area: plus;
}

.zero-button {
    grid-area: zeroo;
}

.equals-button {
    grid-area: equals;
}

.calc-layout {
    display: grid;
    grid-template-areas:
    "screeni screeni screeni screeni"
    "screeni screeni screeni screeni"
    "C C arrow div" 
    "seven eight nine xi"
    "four five six minus"
    "one two three plus"
    "zeroo zeroo zeroo equals";
    width : 400px;
}

.grey-buttons {
    background-color: #d8d9db;
    height: 100px;
    color: black;
    font-size: 40px;
    width: 100%;
}

.number-button{

}

.grey-buttons:hover {
    background-color: #ebebeb;
}

.grey-buttons:active {
    background-color: #bbbcbe;
}

.orange-buttons {
    background-color: #df974c;
    height: 100px;
    color: black;
    font-size: 40px;
    width: 100%;
    
}

.orange-buttons:hover {
    background-color:  #dfb07e;
}

.orange-buttons:active {
    background-color:  #dfb07e;
}


