* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  background-color: green;
  color: white;
  max-width: 900px;
  max-height: 600px;
  margin: 0 auto;
}

.dealers-hand {
    grid-area: dealer;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance-box {
    grid-area: balance;
    background-color: rgb(251, 221, 190);
    color: black;
    width: 150px;
    height: 150px;
}

.action-prompt-box {
    grid-area: prompt;
    color: black;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-hands {
    grid-area: players;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controls {
    grid-area: controls;
    width: 600px;
    height: 150px;
    display: grid;
    grid-template-areas:
    "hit hit hit hit proceed double-down"
    "stand stand stand stand proceed split";
}

.table {
    display: grid;
    grid-template-areas:
    ". . . . . ."
    ". . dealer dealer . balance"
    ". . prompt prompt . ."
    "players players players players players players"
    ". . . . . .";
    width: 800px;
    height: 600px;
}


.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.red-card {
    display: flex;
    height: 120px;
    width: 80px;
    background-color: white;
    color: red;
    border-radius: 15px;
    margin: 2px;
}

.black-card {
    display: flex;
    height: 120px;
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin: 2px;
}


.hand { 
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {

}

.first-button {

}

.second-button {

}


